@charset "UTF-8";
/* font size : start */
#lg1, #lg2 {
	font-size: 20px;
}
.input-group, .col-md-4, .col-md-2 {
    font-size: 20px;
	
}
.btn1, .btn2, #score,#lg1, #lg2 {
    font-size: 20px;
	
}
#profname {
    font-size: 35px;
}

.year, .dormitory {
    color: grey;
    font-size: 18px;
}

/* font size : end */

#fs, #con, #rw, #lg1, #lg2 {
	width: 1000px;
	height: 50px;
}
.card {
	border: 5px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    float: left;
    background-color: white;
}

.year, .dormitory {
    color: grey;
    font-size: 18px;
}

.profile {
	position:relative;
	top: 50px;
	width: 400px;
	float: left;
}
